// brand colors:

$white: #ffffff;
$black: #222222;
$grey: #535353;
$grey-lighter: #9a9a9a;
$grey-darker: #333333;
$pink: #FF0066;


// brand typography:

$primary-font:                 'PT Sans', sans-serif;
$primary-font-weight-normal:   400;
$primary-font-weight-strong:	 700;
$secondary-font:               'Lemon', cursive;
$secondary-font-weight-normal: 400;
$base-font-size-narrow:        90.625%; // 16px
$base-font-size:               100%; // 16px
$base-font:                    1em;
$base-line-height:             1.65;
$base-line-height-narrow:      1.65;
$line-height-small:            1.4;
$secondary-font-line-height:   1.25;


// brand spacing:

$unit:                1rem;
$unit-zero:						$unit * 0;
$unit-three-quarters: $unit * 0.75;
$unit-half:           $unit / 2;
$unit-quarter:        $unit / 4;
$unit-eighth:         $unit / 8;
$unit-sixteenth:      $unit / 16;
$unit-plus-half:		 	$unit * 1.5;
$unit-double:         $unit * 2;
$unit-triple:         $unit * 3;
$unit-quadruple:      $unit * 4;
$unit-quintuple:			$unit * 5;
$unit-sextuple: 			$unit * 6;
$unit-septuple:				$unit * 7;
$unit-octuple:	      $unit * 8;


// brand graphical flourish:




// global brand style implementation

html {
	font-family: $primary-font;
	font-weight: $primary-font-weight-normal;
}

p, li, label, a {
	color: $black;
	font-family: $primary-font;
	font-weight: $primary-font-weight-normal;
	margin-bottom: $unit-plus-half;
	a {
		color: inherit;
		text-decoration: underline;
	}
}

h1, h2 {
	color: $white;
	background-color: $pink;
	font-family: $secondary-font;
	font-weight: $secondary-font-weight-normal;
	margin-bottom: $unit-zero;
}

h1 { font-size: 2.5rem   /* 40px / 16px */ }
h2 { font-size: 2rem     /* 32px / 16px */ }
h3 { font-size: 1.5rem   /* 24px / 16px */ }
h4 { font-size: 1.25rem  /* 20px / 16px */ }
p  { font-size: 1.25rem  /* 20px / 16px */ }
li { font-size: 1.25rem  /* 20px / 16px */ }
label { font-size: 1.125rem  /* 18px / 16px */ }






