// define breakpoints:
$break-0: 	0px; //not used yet
$break-s: 	600px;
$break-m: 	900px;
$break-l: 	1200px;
$break-xl: 	1600px; //not used yet

// set macro layouts for header, main, aside,  footer etc...

// basic grid and fallbacks:
.container {
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
}

// grid:
header .container {
	grid-template-columns: auto;
}

main .container {

}

footer .container {
	grid-template-columns: auto auto;
}

@include breakpoint( $break-s ) {
	header .container {
		grid-template-columns: auto auto;
	}

	main .container {

	}
}

@include breakpoint( $break-m ) {

}

@include breakpoint( $break-l ) {

}