// define breakpoints:
$break-0: 	0px; //not used yet
$break-s: 	600px;
$break-m: 	900px;
$break-l: 	1200px;
$break-xl: 	1600px; //not used yet

// set macro layouts for header, main, aside,  footer etc...

// fallback basic criteria:
.main{
	max-width: 1200px;
	margin: 0 auto;
}

// grid:
main {

}

@include breakpoint( $break-s ) {
	main {

	}
}

@include breakpoint( $break-m ) {
	main {

	}
}

@include breakpoint( $break-l ) {
	main {

	}
}