// imports simon's sass reset files
@import '_accessibility';
@import '_breakpoint';
@import '_clearfix';
@import '_reset';
@import '_retina';
@import '_transition';

// define breakpoints

$bp-small : 30rem;
$bp-medium : 40rem;
$bp-large : 50rem;
$bp-xlarge : 60rem;


// the real fun starts here
p {
	font-family: helvetica, sans-serif;
	font-size: 1em;
}

h1 {
	color: purple;
	font-size: 3em;
	font-family: roboto;
}

body {
	background-color: yellow;
}

div.link-box {
	background-color: white;
	width: 0.5em;
	height: 0.5em;
	position: absolute;
	top:0.25em;
	right:-0.25em;
}




main {
	width: 100%;
	background-color: #ccc;
	@include clearfix();
}

div.content {
	float: left;
	background-color: blue;
	height: 1.5em;
	margin: 2.5%;
	width: 95%;
	position: relative;
}

@media all and (min-width: $bp-small) {
	main {
		background-color: red;
	}
	div.content {
		width: 45%;
	}
}

@media all and (min-width: $bp-medium) {
	main {
		background-color: yellow;
	}
	div.content {
		width: 28%;
	}
}

@media all and (min-width: $bp-large) {
	main {
		background-color: pink;
	}
	div.content {
		width: 45%;
	}
}

@media all and (min-width: $bp-xlarge) {
	main {
		background-color: green;
	}
	div.content {
		width: 95%;
	}
	html {
		font-size:2em;
	}
}

.cf{
	@include clearfix();
}


// .group:after {
// 	content: "";
// 	display: table;
// 	clear: both;
// }