* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend,
textarea, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, main, section, summary, time, mark, audio, video {
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

audio, article, aside, canvas, footer, figcaption, figure, header, hgroup, img, main, nav, section, video {
  display: block; }

a {
  background-color: transparent; }

ol, ul {
  list-style: none outside none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

.hidden {
  display: none; }

audio, embed, iframe, img, object, video {
  height: auto;
  max-width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  text-align: left; }

.skip-link {
  position: absolute;
  right: 100%;
  top: 0; }
  .skip-link:focus {
    background: white;
    color: #222;
    display: block;
    font-family: sans-serif;
    height: auto;
    left: 1em;
    outline: none;
    padding: 1em;
    right: auto;
    text-decoration: none;
    top: 1em;
    width: auto;
    z-index: 100000;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

html {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

p, li, label, a {
  color: #222222;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem; }
  p a, li a, label a, a a {
    color: inherit;
    text-decoration: underline; }

p a {
  transition: all 0.4s linear; }
  p a:hover {
    color: #ff0066; }

h1, h2 {
  color: #ffffff;
  font-family: "Lemon", cursive;
  font-weight: 400;
  margin-bottom: 0rem;
  background-color: rgba(255, 0, 102, 0.6); }

h3 {
  color: #ff0066;
  margin: 2rem 0 1rem; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

p {
  font-size: 1.25rem; }

li {
  font-size: 1.25rem; }

label {
  font-size: 1.125rem; }

.container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto; }

header .container {
  grid-template-columns: auto; }

footer .container {
  grid-template-columns: auto auto; }

@media only screen and (min-width: 600px) {
  header .container {
    grid-template-columns: auto auto; } }

header {
  background-image: url("../images/header-background-2.png"), url("../images/header-background-1.png");
  background-position: bottom left, top left;
  background-repeat: repeat-x, repeat;
  border-top: 0.25rem solid rgba(255, 0, 102, 0.6);
  padding-bottom: 8rem;
  margin-bottom: -7rem; }
  header .logo h1 {
    margin-left: 25px;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 0, 102, 0.6);
    transition: all 0.4s linear;
    border-top: rgba(255, 0, 102, 0) solid 0.25rem;
    margin-top: -0.25rem;
    background-clip: padding-box; }
    header .logo h1:hover {
      border-top: #ff0066 solid 0.25rem;
      background-color: #ff0066; }
    header .logo h1 img {
      margin-left: 15%;
      padding-top: 15%;
      width: 70%;
      height: auto; }
  header .intro {
    margin: 2rem; }
    header .intro p {
      text-align: center; }
      header .intro p a {
        transition: all 0.4s linear; }
      header .intro p a:hover {
        color: #ff0066; }
  @media only screen and (min-width: 600px) {
    header .intro {
      background-color: #a3a3a3;
      background-color: rgba(163, 163, 163, 0.2);
      padding: 2rem;
      margin-right: 0; }
      header .intro p {
        text-align: right; }
        header .intro p:last-child {
          margin-bottom: 0; } }
  @media only screen and (min-width: 900px) {
    header .intro {
      margin: 3rem 8%;
      padding: 3rem 8%; } }

main .content .post-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 0 0 1rem; }
  main .content .post-navigation div {
    align-self: start; }
    main .content .post-navigation div a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 1rem;
      text-align: center;
      margin: 0;
      background-color: rgba(255, 0, 102, 0.6);
      color: #ffffff;
      font-family: "Lemon", cursive;
      font-weight: 400;
      transition: all 0.4s linear; }
      main .content .post-navigation div a:hover {
        background-color: #ff0066; }

main .content .post {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 1rem 8rem 1rem; }
  main .content .post:after {
    clear: both;
    content: "";
    display: table; }
  main .content .post .post-primary-content {
    display: grid;
    grid-template-columns: auto; }
    main .content .post .post-primary-content div.thumbnail-img {
      min-height: 400px;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      margin: 2rem 1rem 1rem; }
  main .content .post .post-secondary-content {
    align-self: center; }
    main .content .post .post-secondary-content a.read-more {
      display: inline;
      color: #ff0066;
      transition: all 0.4s linear; }
      main .content .post .post-secondary-content a.read-more:hover {
        color: #222222; }
    main .content .post .post-secondary-content h2 {
      padding: 1rem; }
    main .content .post .post-secondary-content a h2 {
      background-color: rgba(255, 0, 102, 0.6);
      padding: 1rem;
      transition: all 0.4s linear; }
      main .content .post .post-secondary-content a h2:hover {
        background-color: #ff0066; }
    main .content .post .post-secondary-content ul.tags {
      margin: 1rem -4px; }
      main .content .post .post-secondary-content ul.tags li {
        display: inline-block;
        color: #ffffff;
        background-color: #9a9a9a;
        font-size: 0.75rem;
        margin: 0.25rem;
        padding: 10px 1rem 8px;
        transition: all 0.4s linear; }
        main .content .post .post-secondary-content ul.tags li:hover {
          background-color: #333333; }
        main .content .post .post-secondary-content ul.tags li a {
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase; }

@media only screen and (min-width: 900px) {
  main .content .post {
    grid-template-columns: 1fr 1fr; }
    main .content .post .post-primary-content div.thumbnail-img {
      margin-left: 0; }
    main .content .post .post-primary-content .post-navigation {
      margin: 0 1rem 1rem 0; } }

.page main .content {
  max-width: 60rem;
  margin: 0 auto; }

.page main .page-content {
  margin: 4rem 1rem; }

.page main h2 {
  color: #ff0066;
  background-color: transparent;
  margin: 1rem 0; }

.single main .content .post {
  margin-bottom: 1rem; }

footer {
  background-image: url("../images/footer-background-1.png");
  background-position: top left;
  background-repeat: repeat;
  border-bottom: 0.5rem solid rgba(255, 0, 102, 0.6);
  padding-top: 2rem;
  position: relative; }
  footer:after {
    clear: both;
    content: "";
    display: table; }
  footer div.footer-links p, footer div.footer-links li {
    color: #ffffff; }
  footer div.footer-links a {
    text-decoration: none; }
    footer div.footer-links a:hover {
      color: #ff0066; }
      footer div.footer-links a:hover p {
        color: #ff0066; }
  footer .footer-links {
    margin-left: 1rem; }
    footer .footer-links li a {
      transition: all 0.4s linear;
      margin-left: 1rem;
      padding-left: 1rem;
      position: relative; }
      footer .footer-links li a:before {
        transition: all 0.4s linear;
        content: '';
        width: 1rem;
        height: 1.5rem;
        position: absolute;
        left: -1rem; }
      footer .footer-links li a.lemon:before {
        background: url("../images/footer-lemon.svg") no-repeat center center; }
      footer .footer-links li a.email:before {
        background: url("../images/footer-email.svg") no-repeat center center; }
      footer .footer-links li a.privacy:before {
        background: url("../images/footer-padlock.svg") no-repeat center center; }
      footer .footer-links li a.top:before {
        background: url("../images/footer-top.svg") no-repeat center center; }
      footer .footer-links li a.lemon:hover:before {
        background: url("../images/footer-lemon-p.svg") no-repeat center center; }
      footer .footer-links li a.email:hover:before {
        background: url("../images/footer-email-p.svg") no-repeat center center; }
      footer .footer-links li a.privacy:hover:before {
        background: url("../images/footer-padlock-p.svg") no-repeat center center; }
      footer .footer-links li a.top:hover:before {
        background: url("../images/footer-top-p.svg") no-repeat center center; }
  footer div.logo {
    justify-self: end;
    align-self: end;
    margin-right: 10%;
    background-color: rgba(255, 0, 102, 0.6);
    height: 120px;
    width: 120px;
    transition: all 0.4s linear; }
    footer div.logo:hover {
      margin-bottom: -0.5rem;
      background-color: #ff0066;
      height: 128px; }
    footer div.logo img {
      width: 70%;
      height: auto;
      margin: 15%; }
  @media only screen and (min-width: 1272px) {
    footer .footer-links {
      margin-left: 0; } }
