* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend,
textarea, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, main, section, summary, time, mark, audio, video {
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

audio, article, aside, canvas, footer, figcaption, figure, header, hgroup, img, main, nav, section, video {
  display: block; }

a {
  background-color: transparent; }

ol, ul {
  list-style: none outside none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

.hidden {
  display: none; }

audio, embed, iframe, img, object, video {
  height: auto;
  max-width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  text-align: left; }

.skip-link {
  position: absolute;
  right: 100%;
  top: 0; }
  .skip-link:focus {
    background: white;
    color: #222;
    display: block;
    font-family: sans-serif;
    height: auto;
    left: 1em;
    outline: none;
    padding: 1em;
    right: auto;
    text-decoration: none;
    top: 1em;
    width: auto;
    z-index: 100000;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }

html {
  font-family: futura-pt, sans-serif;
  font-weight: 500; }

p, li, label {
  color: #222222;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem; }
  p a, li a, label a {
    color: inherit;
    text-decoration: underline; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

p {
  font-size: 1.125rem; }

li {
  font-size: 1.125rem; }

label {
  font-size: 1.125rem; }

h2 {
  color: #363636;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }

h3 {
  color: #363636;
  margin-bottom: 1rem;
  text-transform: uppercase; }

ul.bullet li {
  margin-bottom: 0.5rem;
  list-style-image: url(/img/bullet.svg);
  margin-left: 1em; }
  ul.bullet li:last-child {
    margin-bottom: 1rem; }

.button {
  display: block;
  background-color: #222222;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #ffffff;
  padding: 0.75rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none; }
  .button:hover {
    color: #fdd300; }

.button-cancel {
  background-color: #DA371B; }
  .button-cancel:hover {
    background-color: #BE240D; }

.button-nav {
  background-color: #fdd300; }
  .button-nav:hover {
    color: #565656; }

.main {
  max-width: 1200px;
  margin: 0 auto; }

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas: "int" "mtt" "cs" "pp" "cu"; }
  main .intro {
    grid-area: int; }
  main .meet-the-team {
    grid-area: mtt; }
  main .case-studies {
    grid-area: cs; }
  main .proud-partners {
    grid-area: pp; }
  main .contact-us {
    grid-area: cu; }

@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas: "int" "mtt" "cs" "pp" "cu"; } }

@media only screen and (min-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "int 	int   int" "mtt  mtt 	mtt" "cs		cs		cs" "pp		pp		pp" "cu		cu		cu"; } }

@media only screen and (min-width: 1200px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "int 	int		int		pp" "mtt	mtt		mtt		pp" "cs		cs		cs		pp" "cu		cu		cu	  cu"; } }

header {
  border-top: 4px solid #fdd300; }
  header h1 img {
    width: 60%;
    height: auto;
    max-width: 560px;
    margin: 1em auto; }
  @media only screen and (min-width: 600px) {
    header {
      height: 80px; }
      header h1 {
        position: absolute;
        background: #ffffff;
        width: 150px;
        border: 4px solid black;
        border-top: 0px;
        top: 0;
        left: 5%; }
        header h1 img {
          margin: 10px auto;
          width: 100px;
          padding: 0; } }
  @media only screen and (min-width: 1200px) {
    header .container {
      position: relative;
      max-width: 1200px;
      margin: -4px auto 300px; }
    header h1 {
      left: 0; } }

main h1 {
  color: pink; }

@media only screen and (min-width: 600px) {
  main {
    margin-top: 4rem; } }

@media only screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: 0 auto; } }

footer {
  background-color: #565656;
  padding-top: 2rem;
  padding-left: 1rem;
  max-width: 1200px;
  margin: 0 auto; }
  footer:after {
    clear: both;
    content: "";
    display: table; }
  footer p {
    color: #ffffff; }
  footer a {
    color: #ffffff;
    text-decoration: none; }
    footer a:hover {
      color: #fdd300; }
      footer a:hover p {
        color: #fdd300; }
  footer .links li a {
    margin-left: 1rem;
    padding-left: 1rem;
    position: relative; }
    footer .links li a:before {
      content: '';
      width: 1rem;
      height: 1.5rem;
      position: absolute;
      left: -1rem; }
    footer .links li a.tel:before {
      background: url("../img/foot/tel.svg") no-repeat center center; }
    footer .links li a.email:before {
      background: url("../img/foot/email.svg") no-repeat center center; }
    footer .links li a.twitter:before {
      background: url("../img/foot/twitter.svg") no-repeat center center; }
    footer .links li a.privacy:before {
      background: url("../img/foot/privacy.svg") no-repeat center center; }
    footer .links li a.top:before {
      background: url("../img/foot/top.svg") no-repeat center center; }
    footer .links li a.tel:hover:before {
      background: url("../img/foot/tel-y.svg") no-repeat center center; }
    footer .links li a.email:hover:before {
      background: url("../img/foot/email-y.svg") no-repeat center center; }
    footer .links li a.twitter:hover:before {
      background: url("../img/foot/twitter-y.svg") no-repeat center center; }
    footer .links li a.privacy:hover:before {
      background: url("../img/foot/privacy-y.svg") no-repeat center center; }
    footer .links li a.top:hover:before {
      background: url("../img/foot/top-y.svg") no-repeat center center; }
  footer .logo {
    background-color: #FF0065; }
  @supports (display: flex) and (display: grid) {
    footer {
      padding-left: 0; }
      footer .container {
        margin: 0 2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr; }
        footer .container .links {
          margin-bottom: 2rem; }
        footer .container .maps {
          display: flex;
          margin-bottom: 2rem; }
          footer .container .maps div:last-child {
            margin-left: 1rem; }
      @media only screen and (min-width: 650px) {
        footer .container {
          grid-template-columns: 1fr 1fr; }
          footer .container .maps {
            justify-content: flex-end; }
            footer .container .maps p {
              text-align: right; }
          footer .container .further-info {
            grid-column-start: 1;
            grid-column-end: 3; } }
      @media only screen and (min-width: 1200px) {
        footer .container p {
          text-align: right; }
        footer .container .maps div:last-child {
          margin-left: 2rem; } } }
