footer {
	@include clearfix();
	background-color: $grey;
	padding-top: $unit-double;

	div.footer-links {
		p, li {
			color: $white;
		}
	}

	div.logo {
		justify-self: end;
		align-self: end;
		margin-right: 10%;
		background-color: $pink;
		height: 120px;
		width: 120px;
		&:hover{
			background-color: $grey-lighter;
		}
		img {
			width: 70%;
			height: auto;
			margin: 15%;
		}
	}
} //footer