header {
	border-top: $unit-half solid $pink;
	margin-bottom:  $unit;
	h1 {
		margin-left: 25px;
		min-width: 100px;
		width: 100px;
		height: 100px;
		img {
			margin-left: 10%;
			padding-top: 10%;
			width: 80%;
			height: auto;
		}
	}




} // header