header {
	// first item displays on top (so gradient overlay in this case)
	background-image: 		url('../images/header-background-2.png'),
												url('../images/header-background-1.png');
	background-position:  bottom left,
												top left;
	background-repeat: 		repeat-x,
												repeat;



	border-top: $unit-quarter solid $pink-transparent;
	padding-bottom: $unit-octuple;
	margin-bottom:  -$unit-septuple;


	.logo {
		h1 {
			margin-left: 25px;
			width: 120px;
			height: 120px;
			background-color: $pink-transparent;
			@include hover-transition;
			border-top: rgba(255,0,102,0) solid $unit-quarter;
			margin-top: -$unit-quarter;
			background-clip: padding-box;
			&:hover {
				border-top: $pink solid $unit-quarter;
					background-color: $pink;
				}


			// &:hover {
			// 	background-color: $pink;
			// 	height: 128px;
			// 	margin-top: -8px;
			// 	padding-top: 8px;
			// }
			img {
				margin-left: 15%;
				padding-top: 15%;
				width: 70%;
				height: auto;
			}
		} // h1
	}

	.intro {
		margin: $unit-double;
		p {
			text-align: center;
			a {
				@include hover-transition;
			}
			a:hover {
				color: $pink;
			}
		}
	}

	@include breakpoint( $break-s ) {
		.intro {
			background-color: #a3a3a3;
			background-color: rgba(163,163,163,0.2);
			padding: $unit-double;
			margin-right: 0;
			p {
				text-align: right;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@include breakpoint ( $break-m ) {
		.intro {
			margin: $unit-triple 8%;
			padding: $unit-triple 8%;
		}
	}



} // header