main {
	.content {
		.post {
			@include clearfix();
			margin-bottom: $unit-octuple;
			position: relative;
			display: grid;
			grid-template-columns: 1fr;
			margin-left: $unit;
			margin-right: $unit;

			.post-primary-content {
				display: grid;

				div.thumbnail-img {
					min-height: 400px;
					background-repeat: no-repeat;
					background-size: auto 100%;
					background-position: center;
					margin: $unit-double $unit $unit;
				}
				a.post-link {
					margin: 0 0 0 -25px;
					align-self: center;
					color: $white;
					font-family: $secondary-font;
					font-weight: $secondary-font-weight-normal;
					text-align: center;
					width: 50px;
					height: 50px;
					background-color: $pink;
					@include hover-transition;
					&:hover {
						background-color: $grey-lighter;
					}
					&:after{
						content: ">";
						font-size: 2.4rem;
					}
				}
			}

			.post-secondary-content {
				align-self: center;
				p a{
					@include hover-transition;
					&:hover {
						color: $pink;
					}
				}
				a.read-more {
					display: inline;
					color: $pink;
					@include hover-transition;
					&:hover {
						color: $black;
					}
				}
				h2 {
					background-color: $pink-transparent;
					padding: $unit;
					@include hover-transition;
					&:hover{
						background-color: $pink;
					}
				}

				ul.tags {
					margin: $unit -4px;
					li {
						display: inline-block;
						color: $white;
						background-color: $grey-lighter;
						font-size: 0.75rem; // 18px / 24px
						margin: $unit-quarter;
						padding: 10px $unit 8px;
						@include hover-transition;
						&:hover {
							background-color: $grey-darker;
						}
						a {
							font-weight: $primary-font-weight-strong;
							text-decoration: none;
							text-transform: uppercase;
						}
					}
				}
			}
		} //.post

		@include breakpoint( $break-m ) {
			.post {
				grid-template-columns: 1fr 1fr;
			}
		}


	} //.content
} //main