main {
	.content {

		.post-navigation {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: $unit;
			margin: $unit 0;
			div{
				align-self: start;
				a {
					display: inline-block;
					width: 100%;
					height: 100%;
					padding: 1rem;
					text-align: center;
					margin: 0;
					background-color: $pink-transparent;
					color: $white;
					font-family: $secondary-font;
					font-weight: $secondary-font-weight-normal;
					@include hover-transition;
					&:hover {
						background-color: $pink;
					}
				}
			}
		} //.post-navigation

		.post {
			@include clearfix();
			position: relative;
			display: grid;
			grid-template-columns: 1fr;
			margin: 0 $unit $unit-octuple $unit;
			.post-primary-content {
				display: grid;
				grid-template-columns: auto;
				div.featured-image {
					width: 70%;
					margin: 0 auto;
					align-self: center;
					img {
						margin: $unit auto;
						min-width: 100%;
					}
					a img {
						border-bottom: solid $unit-half $white;
						@include hover-transition;
						&:hover {
							border-bottom: solid $unit-half $pink;
						}
					}
				}
			}

			.post-secondary-content {
				align-self: center;
				a.read-more {
					display: inline;
					color: $pink;
					@include hover-transition;
					&:hover {
						color: $black;
					}
				}
				h2 {
					padding: $unit;
				}
				a h2 {
					background-color: $pink-transparent;
					padding: $unit;
					@include hover-transition;
					&:hover{
						background-color: $pink;
					}
				}
				ul.tags {
					margin: $unit -4px;
					li {
						display: inline-block;
						color: $white;
						background-color: $grey-lighter;
						font-size: 0.75rem; // 18px / 24px
						margin: $unit-quarter;
						padding: 10px $unit 8px;
						@include hover-transition;
						&:hover {
							background-color: $grey-darker;
						}
						a {
							font-weight: $primary-font-weight-strong;
							text-decoration: none;
							text-transform: uppercase;
						}
					}
				}
			}
		} //.post

		@include breakpoint( $break-m ) {
			.post {
				grid-template-columns: 1fr 1fr;
				.post-primary-content {
					margin-right: $unit;
					div.featured-image {
						width: 100%;
						img {
							margin: 0;
						}
					}
				}
			}
		} //$break-m

	} //.content
} //main