main section.meet-the-team {
	margin-bottom: $unit-quadruple;

	h2 {
		text-align: center;
	}

	.container {
		margin: 0 $unit;
		display: grid;
		grid-gap: $unit;
		grid-template-columns: 1fr;
	}

	.team-member {
		max-width: 600px;
		margin: $unit auto;
		// flex amends bottom padding, but only relevent when grid also used.
		display: flex;
		flex-wrap: wrap;

		.image {
			width: 200px;
			height: 200px;
			margin: 0 auto 0;
			border-radius: 50%;
			border: $unit-three-quarters solid $yellow;
			overflow: hidden;

			img {
				object-fit: cover;
				width: 200px;
				height: 200px;
			}
		}

		.details {
			z-index: -1;
			align-items: center;
			background-color: $grey-lightest;
			width: 100%;
			padding: $unit-sextuple $unit $unit;
			margin-top: -$unit-quintuple;
			@include angle-top-lr;

			h3 {
				text-align: center;
				margin-bottom: $unit-half;
			}

			li {
				text-align: center;
				margin-bottom: $unit-half;
			}
		}
	} // .team-member


	@media only screen and (min-width: $break-s) and (max-width: 899px) {

		.container {
			grid-template-columns: 1fr 1fr;
		}

		.team-member-3 {
			grid-column-start: 1;
			grid-column-end: 3;
		}

		@supports (display:grid) {
			.team-member {
				max-width: none;
				width: 100%
			}
			.team-member:nth-child(3) .image {
				display: none;
			}
			.team-member:nth-child(3) .details {
				padding: $unit-double 0;
				margin: -$unit-double 0;
			}
			.team-member:nth-child(3) .details:before {
				display: none;
			}
		} // feature query
	} // media query


	@include breakpoint( $break-m ) {
		.container {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}  // media query


	@include breakpoint( $break-l ) {
		.container {
			margin: 0;
		}
	}  // media query

} // main section.meet-the-team