.home main {
	.content {
		h2, p, ul {
			display: none;
		}
		.post {
			margin-bottom: $unit-octuple;
		}
		.post-primary-content {
			display: grid;
			grid-template-columns: 2fr 1fr;
			div {
				align-self: center;
			}
			a {
				margin: 0 0 0 -25px;
				align-self: center;
			}

		}
	} //.content


	.post:nth-of-type(even) .post-primary-content {
		background-color: green;
		direction: rtl;
		a {
		 margin-right: -25px;
		}
	}

	.post:nth-of-type(odd) .thumbnail-img {
		border-left: $unit-half $pink solid;
	}

	.post:nth-of-type(even) .thumbnail-img {
		border-right: $unit-half $pink solid;
		float: right;
	}

	@include breakpoint( $break-s ) {
		.content {
			h2, ul {
				display: inline-block;
			}
		}
	} // break-s

	@include breakpoint( $break-m ) {
		.content {
			p {
				display: block;
			}
		}
	} // break-m





} // .home main