main section.case-studies {
	margin-bottom: $unit-quadruple;

	h2 {
		text-align: center;
	}

	div.container {
		margin: 0 $unit $unit;
		display: grid;
		grid-gap: $unit;
		grid-template-columns: 1fr;
	}

	h3 {
		text-align: center;
		margin-bottom: $unit-half;
	}

	div.cs-image {
		width: 280px;
		height: 200px;
		margin: -100px auto $unit;
		border-radius: $unit;
		border: $unit-three-quarters solid $grey-lighter;
		overflow: hidden;
		position: relative;

		img {
			object-fit: fill;
			object-position: 0 50%;
		}
	}

	.case-study {
		align-items: center;
		background-color: $grey-lightest;
		margin-top: $unit-octuple;

		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		padding-top: $unit-double;
		padding-bottom: $unit-double;
		@supports(display: grid){
			width: 100%;
			padding-top: 0;
			padding-bottom: 0;
		}
		@include angle-top-lr;
	}

	.cs-text {
		width: 100%;

		li {
			text-align: center;
			margin-bottom: $unit-half;
		}

		a {
			max-width: 200px;
			margin: $unit auto;
		}
	}


	@include breakpoint ( $break-s ) {
		div.container {
			grid-template-columns: 1fr 1fr;
		}

		div.cs-image {
			width: 210px;
			height: 150px;
		}
	} // media query

	@include breakpoint ( $break-m ) {
		div.cs-image {
			width: 280px;
			height: 200px;
		}
	} // media query

	@include breakpoint ( $break-l ) {
		div.container {
			margin: 0;
		}
	} // media query

} // main section.case-studies