main section.intro {
	margin-bottom: $unit-double;

	.container {
		margin: 0 $unit;
	}

	li {
		text-align: center;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	@include breakpoint( $break-s ) {
		margin-bottom: $unit-triple;

		ul li {
			font-size: 1.5rem;
			max-width: 85%;
		}
	} // media query

	@include breakpoint( $break-m ) {
		margin-bottom: $unit;

		ul li {
			display: inline-block;
			width: 33%;
			vertical-align: top;
			box-sizing: border-box;
			padding: 0 $unit;
			border-left: 4px dotted $yellow;
			&:first-child{
				border-left: 0px;
			}
		}
	} // media query


	@include breakpoint( $break-l ) {
		margin: $unit-sextuple auto $unit-triple;

		.container {
			margin: 0;
		}
	} // media query
} // main section.intro